*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #0D1117;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
}
